body {
    width:auto;
    font-family: 'Roboto';
    font-size: 14px;
    border-style: double;
    border-color:#cc5656;
}

@font-face {
    font-family: MonicasSalonNF;
    src: url(MonicasSalonNF.ttf);
}
@font-face {
    font-family: PixelOperatorHB8;
    src: url(PixelOperatorHB8.ttf);
}
table, td, th {    
    
    border: 2px solid ;
    border-color: #cc5656;
    text-align: left;
    
}

table {
    border-collapse: collapse;
    width: 80%;

    
    
}

th, td {
    padding: 8px;
}

tr:hover{background-color:#f5f5f5}

.n1, .n2, .dev{
    text-align:center;
    font-size: 6em;
    display: inline;
    margin: 60px;
    

} 
.dev {
    font-family: PixelOperatorHB8;
}
.n1, .n2{
    font-family: MonicasSalonNF;    
    color: #cc5656
}

#head{
    margin-top: 50px;
    text-align:center;
    margin-bottom: 100px;
    
}

.tabela{
    align-items: center;
    text-align:center;
    align-content: center;
    margin:auto;
    width: 400px;
}

.item {
	overflow: hidden;
    opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	transform: translate3d(-50px, 0,0);
}

.item.active{
	opacity: 1;
	visibility: visible;
	transition: .3s;
	transform: translate3d(0px, 0,0);
	position: relative;
	top: auto;
}

ul {
	text-align: center;
	margin: 80px 0 40px 0;
}

ul li {
	display: inline-block;
}

ul li a {
	display: inline-block;
	color: #cc5656;
	border: 4px solid;
	padding: 10px 0px;
	width: 200px;
	margin: 20px;
	text-decoration: none;
	font-family: 'Playfair Display';
	text-transform: uppercase;
	letter-spacing: 2px;
}

ul li a.active {
 background: #cc5656;
 color: white;
 border-color: #cc5656;
}

spam{
    align-items: center;
    color: #cc5656;	
	margin: 20px;
	text-decoration: none;
	font-family: 'Playfair Display';
	text-transform: uppercase;
	letter-spacing: 2px;
    display: block;

}